body, html {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px;
    flex: 0 0 150px;
    color: white;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

nav {
    flex: 1;
}

main {
    flex: 4;
}

ul {
    list-style-type: none;
    position: fixed;
}

ul li {
    margin: 10px 0;
}

section {
    margin: 10px;
    padding: 10px;
    height: 500px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}