body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 5;
}

.headshot {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
    margin-bottom: 1.25rem;
    display: block;
}

.jumplinks {
    list-style-type: none;
    flex: 1;
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

ul li {
    margin: 0.5rem 0;
}

section {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0rem;
}


#corrado, #about, #education, #experience, #portfolio, #awards {
    scroll-behavior: smooth;
}

.contact a {
    color: yellow;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
    color: orange;
}

.contact p {
    display: inline;
    color: yellow;
    font-size: 2.5rem;
}

ul.ap_scores li {
    font-size: 1.25rem;
    margin: 0.25rem 0;
}

.main-colors {
    background-color: #6f2925;
    color: #b3c3c1;
}

.nav-colors {
    background-color: #ffac1c;
}

li a {
    text-decoration: none;
    color: #c80000;
}

li a:hover {
    text-decoration: underline;
    color: #8E7618;
}

h1 {
    font-size: 5.61rem;
}

h2 {
    font-size: 4.209rem;
}

h3 {
    font-size: 3.157rem;
}

h4 {
    font-size: 2.369rem;
}

p, li {
    font-size: 1.5rem;
    line-height: 1.6;
}

a {
    font-size: 2.5rem
}

h1, h2, h3, h4 {
    font-family: "Zalando Sans", sans-serif;
}

main p {
    font-family: "TASA Orbiter", sans-serif;
}

nav {
    font-family: "DM Serif Text", serif;
}

.contact {
    font-family: "Newsreader", serif;
}

.videos {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;

}

.video1, .video2, .video3, .video4, .video5, .video6 {
    flex: 1;
}