body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

nav {
    flex: 1;
}

main {
    flex: 4;
}

.jumplinks {
    list-style-type: none;
    position: fixed;
}

ul li {
    margin: 10px 0;
}

section {
    margin: 10px;
    padding: 10px;
}


#about, #education, #experience, #portfolio, #awards {
    scroll-behavior: smooth;
}

.contact p {
    display: inline;
}

ul.ap_scores li {
    margin: 5px 0;
}